<h1 class="title">Welcome to the Bill Tracker!</h1>

<div class="jumbotron">
 <h3><center>Click here to get started.<center></h3>
 <p><center><%= link_to "Sign Up", root_path, class: "btn btn-success btn-lg" %></center></p>
</div>